@charset "EUC-KR";
#header{text-align:center;}
*{box-sizing:border-box;text-decoration:none}
#navigation{list-style:none; width:100%; height:25px; margin:0 auto;
				 background-color:#dadada;}
.right{float:right; margin : 0px 20px 0px 0px}
#wrap>#aside{list-style:none}

body {font-family: "Lato", sans-serif;}
#header{text-align:center}

/* Style the tab */
#aside {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 25%;
    height: 300px;
}

/* Style the buttons inside the tab */
#aside a {
    display: block;   
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    text-decoration:none;
    
}

/* Change background color of buttons on hover */
#aside a:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
#aside a.active {
    background-color: #ccc;
}

/* Style the tab content */
#section {
    float: left;
    padding: 20px 12px;
    border: 1px solid #ccc;
    width: 75%;
    border-left: none;
    height: 300px;
}

#wrap { overflow: hidden;} 
       
